body, html {
    margin: 0;
    padding: 0;
    background-image: url("../img/background_no_text.jpg");
    background-size: 100%;
    background-color: #cccccc;
}

video {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .1875;
    filter: alpha(opacity=8);
}

#main {
    z-index: 800;
}

#main .content {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 10em;
   // text-shadow: 4px 4px #000000;
}

.unlock-input {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    background-color: transparent;
    border: none;


    transform: translate(-50%, -50%);
    color: lightGrey;
    font-size: 6em;
    text-align: center;
    text-shadow: 4px 4px #000000;
    z-index: 100;
}

#main .bottom {
   position: absolute;
   bottom: 150px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0);
}

.gauge {
    border-radius: 50%;
    background-color: rgba(210, 210, 210, .7) ;
    padding-bottom:  70px;
}

#main .top {
   position: absolute;
   top: 150px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0);
}

.topContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 6em;
   text-shadow: 4px 4px #000000;
   white-space: nowrap;
}

.bottomContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 6em;
   text-shadow: 4px 4px #000000;
   white-space: nowrap;
}

#meltdownOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(254, 0, 0, .6);
    z-index: 1000;

}