body, html {
    margin: 0;
    padding: 0;
    background-image: url("../img/background_no_text.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color: #151515;
    overflow:hidden;
}

video {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .1875;
    filter: alpha(opacity=8);
}

#main {
    z-index: 800;
}

#main .content {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 10vw;
   // text-shadow: 4px 4px #000000;
}

.access-denied {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 160px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    color: lightGrey;
    font-size: 6vw;
    text-align: center;
    text-shadow: 4px 4px #000000;
    z-index: 100;
    margin-left: -500px;
    margin-top: -80px;
}

.unlock-input {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 100px;
    background-color: rgba(210, 210, 210, .7);
    color: transparent;
    border: none;
    outline: none;
    color: lightGrey;
    font-size: 3vw;
    text-align: center;
    text-shadow: 4px 4px #000000;
    z-index: 100;
    margin-left: -300px;
    margin-top: 60px;
}
#main .bottom {
   position: absolute;
   bottom: 15vh;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0);
}

.gauge {
    border-radius: 50%;
    background-color: rgba(210, 210, 210, .7) ;
    padding-bottom:  70px;
}

#main .top {
   position: absolute;
   top: 15vh;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0);
}

.topContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 4vw;
   text-shadow: 4px 4px #000000;
   white-space: nowrap;
}

.bottomContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 4vw;
   text-shadow: 4px 4px #000000;
   white-space: nowrap;
}

#meltdownOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(254, 0, 0, .6);
    z-index: 1000;
}

#meltdownOverlay.ng-hide {
    transition: 2s linear all;
    opacity: 0;
}

#sln {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(50, 50, 50, .8);
   font-size: 4vw;
   text-shadow: 4px 4px #000000;
   z-index: 1000;
   align: center;
}

#sln .slnContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 6vw;
   text-shadow: 4px 4px #000000;
}


.mtt-graduationValueText {
    display: none;
}
