body, html {
    margin: 0;
    padding: 0;
    background-image: url("../img/background_no_text.jpg");
    background-size: 100%;
    background-color: #cccccc;
}

video {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .1875;
    filter: alpha(opacity=8);
}

#main {
    z-index: 800;
}

#main .content {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 10em;
}

#main .bottom {
   position: absolute;
   top: 800px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0);
}

.bottomContent {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   color: lightGrey;
   font-size: 6em;
}
